In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/datasets/USMinWage.csv')

df.head()

   Unnamed: 0  Year       State  ... CPI.Average High.2018  Low.2018
0           0  1968     Alabama  ...   34.783333      0.00      0.00
1           1  1968      Alaska  ...   34.783333     15.12     15.12
2           2  1968     Arizona  ...   34.783333      4.75      3.37
3           3  1968    Arkansas  ...   34.783333      1.12      1.12
4           4  1968  California  ...   34.783333     11.88     11.88

[5 rows x 10 columns]